<html
xmlns:th="http://www.thymeleaf.org">
	<head><title>Home Page</title></head>
	<body>
		<h1>Inserisci Ticket</h1>
		<p>Generico <span th:text="${appName}">Our App</span></p>
		<form action="#" th:action="@{/printGenerico}" th:object="${TicketGenerico}" modelAttribute= "form" method="post">
		
		  <!-- CASELLE DI TESTO -->
		  Titolo<br></br>
		  <input type="text" name="oggetto" ></input><br></br>
		  <!-- TEXTAREA -->
		  Descrizione<br></br>
		  <textarea name="descrizione" rows="5" cols="30" ></textarea>
		  <br></br>
		  
		  <!-- RADIO -->
		  Tipologia<br></br>
		  <input type="radio" name="tipo" value="Generico"> Generico</input><br></br>
		  <input type="radio" name="tipo" value="Software" > Software</input><br></br>
		  
		   Campo appartenenza<br></br>
		  <input type="text" name="campo" ></input><br></br>
		
		  <!-- CHECKBOX -->
		  Reparto<br></br>
		  <input type="checkbox" name="reparto" value="Logistica" > Logistica</input><br></br>
		  <input type="checkbox" name="reparto" value="Produzione"> Produzione</input><br></br>
		  <input type="checkbox" name="reparto" value="Test"> Test</input><br></br>
		  <input type="checkbox" name="reaprto" value="Vendite"> Vendite</input><br></br>
		  <input type="checkbox" name="reparto" value="Acquisti">Acquisti</input><br></br>
		
		  <!-- SUBMIT -->
		  <input type="submit" name="invia" value="Invia i dati"></input>
		
		</form>
	</body>
</html>