<html
xmlns:th="http://www.thymeleaf.org">
<head><title>Home Page</title></head>
<body>
<h1>Inserisci Ticket</h1>
<p>Welcome to <span th:text="${appName}">Our App</span></p>
<form action="#" th:action="@{/tipo}" method="post" modelAttribute="form">

    <!-- RADIO -->
  Tipologia<br>
  <input type="radio" name="tipo" value="Generico"> Generico<br>
  <input type="radio" name="tipo" value="Software" > Software<br>
  

  <!-- SUBMIT -->
  <input type="submit">

</form>
</body>
</html>