<html 
xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<title>ListaTicket</title>
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
		
		<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
		<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
		<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
		<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/it.js"></script>
		<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jeditable.js/1.7.3/jeditable.min.js"></script>
	</head>
	
	<body>
		<h1>Lista Ticket</h1>
    <table  id="example" class="display" style="width:100%">
    </tabel>

	<script type="text/javascript">
		
			$(document).ready(function() {
				
				var dataSet = new Array();
				
				$.get("/lista2", function( data ) {
					
					for(i = 0;i < data.length;i++) {
						
						BaseTicket = data[i];
						if (BaseTicket.id != null) {
							
							dataSet.push(
								[BaseTicket.id , BaseTicket.cliente, BaseTicket.dtype, BaseTicket.oggetto,moment(BaseTicket.creationTime).format('DD/MM/YYYY'), BaseTicket.creationUser]
								//[id , cliente, dtype, oggetto,moment(creationTime).format('DD/MM/YYYY'),creationUser]
							);
						}
					}
					
				    var oTable = $('#example').DataTable( {
				        data: dataSet,
				        columns: [
				        	{ title: "Id" },
				            { title: "CLiente" },
				            { title: "Tipo" },
				            { title: "Oggetto" },
				            { title: "Inserimento" },
				            { title: "Utente" },
				           
				        ]
				    } );
	
				    /* Apply the jEditable handlers to the table */
				    oTable.$('td:nth-child(2)').editable( 'rest/jac/documento/update', {
				        "callback": function( sValue, y ) {
				        	console.log("value=" + sValue + ",y=" + y);
				        },
				        "submitdata": function ( value, settings ) {
				        	console.log("submitdata" + this);
				        	return {
				        		"id" : $(this.parentNode).children().first().text(),
				        	};
				        },
				        "height": "14px",
				        "width": "100%"
				    } );
				});
				
			} );
		
		</script>

   
    
	</body>
</html>