<html
xmlns:th="http://www.thymeleaf.org">
<head><title>Home Page</title></head>
<body>
<h1>Inserisci Ticket</h1>
<p>Welcome to <span th:text="${appName}">Our App</span></p>
<form action="#" th:action="@{/printSoftware}" th:object="${TicketSoftware}" modelAttribute= "form" method="post">

  <!-- CASELLE DI TESTO -->
  Titolo<br>
  <input type="text" name="oggetto" ><br>
  <!-- TEXTAREA -->
  Descrizione<br>
  <textarea name="descrizione" rows="5" cols="30" ></textarea>
  <br><br>
  Data<br>
  <input type="date" name="creationTime" ><br>
  
 
  
    Gravita<br>
  <select name="paese">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="urgente">urgente</option>
  </select><br>
  
  <!-- CHECKBOX -->
  AreaSoftware<br>
  <input type="checkbox" name="hobby" value="Web"> Web<br>
  <input type="checkbox" name="hobby" value="Database"> Database<br>
  <input type="checkbox" name="hobby" value="Test"> Test<br>
  <input type="checkbox" name="hobby" value="Design"> Design<br>
  <input type="checkbox" name="hobby" value="Sviluppo"> Sviluppo<br>

  <!-- SUBMIT -->
  <input type="submit" name="invia" value="Invia i dati">

</form>
</body>
</html>